
			<div class="alert alert-success alert-dismissible success_panel" role="alert">
					<button ng-click="showError=false" type="button" class="close"
						data-dismiss="alert">
						<span aria-hidden="true">&times;</span> <span class="sr-only">close</span>
					</button>
					Agency {{productlicense.agency}} setup successfully
			</div>
				
			<table class="table">
					<td class="col-sm-6" style="border:none;"></td>
					<td class="col-sm-6" style="border:none;">  <button type="submit" class="btn btn-primary btn-lg pull-right outline" style="margin-right:-10px;" ng-click="forwardBPTNotice()">Import Solutions<tton></td>
				
			</table>