<div class="container">

	<div><h3> Would you like to load Best Practice Templates(BPTs)?<h3></div>
	<div><p><font size="3">BPTs are a collection of standards for implementing Accela functionality. you can update your BPTs as you need to once they
		are imported. You can import the modules that directly affect you and turn off areas you don't want. This can help save you
		time configuring your system.</font></p></div>
	<div style="padding-bottom:40px;">
		<br/>
		<br/>
		<button class="btn btn-success btn-lg outline" ng-click="forwardBPTImport()"><span class=""></span>&nbsp;Yes, I'm In</button>
		<button class="btn  btn-danger btn-lg outline" ng-click="setupComplete()"><span class=""></span>&nbsp;No, Thank You</button>
	</div>				
</div>